<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:security="http://www.springframework.org/schema/security"    
    xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
          http://www.springframework.org/schema/security    
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">
          
    <bean id="pwdEncoder" class="com.marker.util.PwdEncoder" />
    
    <bean id="accessDeniedHanlder" class="com.marker.util.DefaultAccessDeniedHandler"></bean>
    <bean id="successHandler" class="com.marker.util.SuccessHandler" />
    
    <!-- use-expressions:Spring 表达式语言配置访问控制 -->
    <security:http auto-config="true" use-expressions="false">
            <!-- 配置权限拦截，访问所有url，都需要用户登录，且拥有ROLE_USER权限 -->
        <security:intercept-url pattern="/test*" access="ROLE_USER" />
        <security:access-denied-handler ref="accessDeniedHanlder" />
        <security:form-login authentication-success-handler-ref="successHandler" />
    </security:http>
   
    <!-- <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="123456" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager> -->
    
    <security:authentication-manager>
  		<security:authentication-provider>
       		<security:jdbc-user-service 
       			data-source-ref="dataSource" 
       			users-by-username-query="select name as user_name, password ,1 as enabled from user WHERE name=?"
       			authorities-by-username-query="select u.name as user_name, r.name as role_name from user u,user_role ur, role r 
       											where u.id = ur.user_id and r.id = ur.role_id and u.name=?"/>
      	</security:authentication-provider>
 	</security:authentication-manager>
    
          
</beans>   